<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile Page</h1>

    <h3>Name: {{this.name}}</h3>
    <h3>Email: {{this.email}}</h3>

    <a href="/edit" ><button>Edit Profile</button></a><br />
    <a href="/delete" ><button>Delete Account</button></a><br />
    <a href="/newPost" ><button>Create Blog Post</button></a><br />
    <a href="/userBlogPosts" ><button>See Blog Posts</button></a><br />
    <a href="/logout" ><button>Logout</button></a><br />



    
        {{#each users}}
        <li>Name: {{this.name}}</li>

        {{/each}}
    
</body>
</html>